<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="div-logo">
                    <img class="logo" style="height:70px;width:auto;" src="~/Img/logo.png" />
                </div>
                @Html.ActionLink("GMU Admissions", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul id ="nav-links" class="nav navbar-nav">
                    <li  target ="_blank" class="nav-link"  >@Html.ActionLink("Home", "Index", "Home")</li>
                    <li  target ="_blank" class="nav-link"  >@Html.ActionLink("About", "About", "Home")</li>
                    <li  target ="_blank" class="nav-link"  >@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li  target ="_blank" class="nav-link"  >@Html.ActionLink("Apply Now", "Create", "Entries")</li>
                </ul>

                @using (Html.BeginForm("Index", "Entries", FormMethod.Get, new { @class = "navbar-form navbar-left"}))
                {
                    <div class="form-group">
                        @Html.TextBox("Search", null, new
                        {
                            @class = "form-control",
                            @placeholder = "Search by Last name / SSN"
                        })
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                }

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="main-content container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
