@model IEnumerable<Project2.Models.Entry>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameFirst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            Submission Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPA)
        </th>
        <th>
            SAT Score
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Decision)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NameFirst)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MiddleName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateCreated)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SSN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GPA)
    </td>
    <td>
        @{
            var scoreTotal = item.Math + item.Verbal;
            @Html.DisplayFor(s => scoreTotal)
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EnrollSeason)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EnrollYear)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Decision)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
